footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    padding:8px 12px;
    margin: 0 auto;
}

h4{  
    font-size:20px;
    color: white;
    margin-left: 8px;
}

h5{
    color: rgba(207, 207, 207, 0.842);
    margin-right: 6px;
}