.main {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding:8px 12px;
}

h1{
    
    font-size:30px;
    color: white;
    margin-left: 8px;
}

h3{
    color: rgba(255, 255, 255, 0.486);
    margin-right: 6px;
}