@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@700&display=swap');
.main-banner {
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(13, 162, 255);
    margin-top: 0px;
    border-top: 0px;
    padding-top: 0px;
}

.banners{
    padding-right:22px;
    width: 1250px;
    display: flex;
    flex: 1;
    margin: auto;
}

.banner{
    width: 134px;
    margin: 4.2px 4.2px 4.2px 4.2px;
}
.frame{
    width: 100%;
    height: 100%;
    padding: 0 auto;
    margin: 0 auto;
    text-align: center;
}
.doctor{  
    font-size:70px;
    font-family: 'Eczar', serif;
    color: white;
    text-shadow: 2px 4px 2px gray;
    margin-left: 181px;
}


.where{
    color: rgba(43, 43, 43, 0.692);
    margin-right: 20px;
    padding-right: 180px;
}