

.intro {
        text-align: center;
        color: #6760aa;
        font-style:normal;
        font-size:25px;
        font-family: Georgia, serif;
    
}

.explanation {
    color: rgba(0, 0, 0, 0.466);
}

.teacherimg {
    width:80px;
}

.intro-box1{
    width: 1000px;
    margin: 0 auto;
    border-style: solid;
    border-width: 0 0 0 8px;
    padding: 12px;
    word-break: break-all;
    border-color: lightgray;
    background-color:rgba(221, 221, 221, 0.2);
}


.intro-box2 {
    width: 1000px;
    margin: 0 auto;
    border-style: solid;
    border-width: 0 0 0 8px;
    padding: 12px;
    word-break: break-all;
    border-color: DodgerBlue;
    background-color:rgba(30, 144, 255, 0.2);
}

.intro-box3 {
    width: 1000px;
    margin: 0 auto;
    border-style: solid;
    border-width: 0 0 0 8px;
    padding: 12px;
    word-break: break-all;
    border-color: LightSalmon;
    background-color: rgba(255, 160, 122, 0.2);
}

.intro-box4 {
    width: 1000px;
    margin: 0 auto;
    border-style: solid;
    border-width: 0 0 0 8px;
    padding: 12px;
    word-break: break-all;
    border-color: Tomato;
    background-color:rgba(255, 99, 71, 0.2);
}



.intro-box6 {
    width: 1000px;
    margin: 0 auto;
    border-style: solid;
    border-width: 0 0 0 8px;
    padding: 12px;
    word-break: break-all;
    border-color: rgb(245, 229, 4);
    background-color:rgba(241, 255, 162, 0.2);
}

.questionmark{
    width: 40px;

}

.big{
    color: black;
}

.intro-box7 {
    width: 1000px;
    margin: 0 auto;
    border-style: solid;
    border-width: 0 0 0 8px;
    padding: 12px;
    word-break: break-all;
    border-color: rgb(57, 252, 209);
    background-color:rgba(214, 255, 250, 0.2);
}