#map {
    margin: 0 auto;
    margin-top: 10px;
}

.howtocome {
        text-align: center;
        color: #6760aa;
        font-style:normal;
        font-size:25px;
        font-family: Georgia, serif;
    
}

.mapimg {
    width:70px;
}

.address{
    text-align: center;
    margin: 0 auto;
    color:rgb(5, 5, 5);
    background-color:blanchedalmond;
    width : 700px;
}