ul {
    margin : 0;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

a{
    color: rgb(70, 94, 228);
    text-decoration: none;
    text-shadow: 0 0 24px;
}

li{
    list-style-type: none;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
}