ul {
    margin : 0;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

li{
    list-style-type: none;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

a{
    color: rgb(70, 94, 228);
    text-decoration: none;
    text-shadow: 0 0 24px;
}

.classroom {
    text-align: center;
    margin: 0 auto;
    color: #6760aa;
    font-style:normal;
    font-size:25px;
    font-family: Georgia, serif;
  
  }

  .classroom-img{
      width:70px;
  }